<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns	= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id			= "com.metaconceptions.fbconnecttest"
	version 	= "1.0.0">

	<name>FBConnectTest</name>

	<description>
	</description>

	<author href="http://www.metaconceptions.com"
		email="jason@metaconceptions.com">
		Jason Sams
	</author>
	
	<preference name="phonegap-version" />
	
	<gap:plugin name="FacebookConnect">
		<param name="APP_ID" value="354272521346581" />
	</gap:plugin>
	
	<icon src="icon.png" />
	<gap:splash src="splash.png" />
	
</widget>
