<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns	= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/2.1.0"
	id			= "com.metaconceptions.fbconnecttest"
	version 	= "1.0.0">

	<name>FB Connect Test</name>

	<description>
		
	</description>

	<author href="http://www.metaconceptions.com"
		email="jason@metaconceptions.com">
		Jason Sams
	</author>
	
	<preference name="phonegap-version" value="1.9.0" />
	<preference name="orientation" value="portrait" />
	<preference name="ios-statusbarstyle" value="black-opaque" />	
	<preference name="target-device" value="handset" />

	<icon src="icon.png" />
	<icon src="icon.png" width="57" height="57" />
	<icon src="icon@2x.png" width="114" height="114" />
	
	<gap:splash src="splash.png" />
	<gap:splash src="Default~iphone.png" width="320" height="480" />
	<gap:splash src="Default@2x~iphone.png" width="640" height="960" />
	
	<gap:plugin name="ChildBrowser" version="3.0.4" />
	
</widget>
